{% extends "layout.html" %}

{% block content %}
<head>
  <!-- Agrega el enlace al archivo CSS aquí -->
  <link rel="stylesheet" href="/static/css/main.css">
  <!-- Asegúrate de que la ruta refleje la ubicación correcta de tu archivo style.css dentro de la carpeta static -->
</head>

<h1 class="text-center mb-4" style="color: #18a08e;"><b>Alta de Clientes</b></h1>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    {% for message in messages %}
      <div class="alert alert-success alert-dismissible fade show" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<div class="row">
  <div class="col-md-5 mx-auto" >
    <div class="card card-body" style="background-color: #f7f7f7;">
      <form action="/add_cliente" method="POST" onsubmit="return validateForm()">
        <div class="form-group">
          <input type="text" name="nomcliente" placeholder="Nombre" class="form-control" autocomplete="off">
          <span id="error-nomcliente" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <input type="text" name="apellidocliente" placeholder="Nombre de Fantasia" class="form-control" autocomplete="off">
          <span id="error-apellidocliente" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <input type="text" name="direccion" placeholder="Dirección" class="form-control" autocomplete="off">
          <span id="error-direccion" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <select id="tipocliente" name="tipocliente" class="form-select">
            <option value="" disabled selected>Seleccione el tipo de empresa</option>
            <option value="Empresa">Empresa</option>
            <option value="Local">Local</option>
            <option value="Vivienda">Vivienda</option>
            <option value="Hotel">Hotel</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
          <span id="error-tipocliente" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <select id="certificado" name="certificado" class="form-select">
            <option value="" disabled selected>Duracion del Certificado</option>
            <option value="1 mes">1 mes</option>
            <option value="2 meses">2 meses</option>
            <option value="3 meses">3 meses</option>
            <option value="4 meses">4 meses</option>
            <option value="5 meses">5 meses</option>
            <option value="6 meses">6 meses</option>
            <option value="7 meses">7 meses</option>
            <option value="8 meses">8 meses</option>
            <option value="9 meses">9 meses</option>
            <option value="10 meses">10 meses</option>
            <option value="11 meses">11 meses</option>
            <option value="1 año">1 año</option>
            <option value="2 años">2 años</option>
            <!-- Agrega más opciones según sea necesario -->
          </select>
          <span id="error-certificado" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <input type="text" name="presupuesto" placeholder="Presupuesto" class="form-control" autocomplete="off">
          <span id="error-presupuesto" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <input type="text" name="cuit" placeholder="CUIT" class="form-control" autocomplete="off">
          <span id="error-cuit" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <input type="text" name="celular" placeholder="Celular" class="form-control" autocomplete="off">
          <span id="error-celular" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group">
          <input type="text" name="correo" placeholder="Correo" class="form-control" autocomplete="off">
          <span id="error-correo" style="color: red; display: none;">Por favor completar este campo</span>
        </div>
        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary btn-block" style="background-color: #337ab7;">Guardar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-8"></div>
</div>
<script>
  function validateForm() {
    var isValid = true;

    var nomcliente = document.forms[0]["nomcliente"].value;
    if (nomcliente === "") {
    document.getElementById("error-nomcliente").style.display = "block";
    isValid = false;
    } else {
      document.getElementById("error-nomcliente").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  // Agrega validaciones para otros campos si es necesario
    var apellidocliente = document.forms[0]["apellidocliente"].value;
    if (apellidocliente === "") {
    document.getElementById("error-apellidocliente").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-apellidocliente").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  //otro
    var  direccion = document.forms[0]["direccion"].value;
    if (direccion === "") {
    document.getElementById("error-direccion").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-direccion").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  //otro
    var selectedValue = document.getElementById("tipocliente").value;
    if (selectedValue === "") {
    document.getElementById("error-tipocliente").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-tipocliente").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }

  //otro
    var selectedValue = document.getElementById("certificado").value;
    if (selectedValue === "") {
    document.getElementById("error-certificado").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-certificado").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  //otro
    var  presupuesto = document.forms[0]["presupuesto"].value;
    if (presupuesto === "") {
    document.getElementById("error-presupuesto").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-presupuesto").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  //otro
    var cuit = document.forms[0]["cuit"].value;
    if (cuit === "") {
    document.getElementById("error-cuit").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-cuit").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  //otro
    var celular = document.forms[0]["celular"].value;
    if ( celular === "") {
    document.getElementById("error-celular").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-celular").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
  //otro
    var correo = document.forms[0]["correo"].value;
    if ( correo === "") {
    document.getElementById("error-correo").style.display = "block";
    isValid = false;
    } else {
    document.getElementById("error-correo").style.display = "none"; // Oculta el mensaje de error si el campo está completo
    }
    return isValid;  
  }
</script>

<h1 class="text-center mb-4" style="color: #18a08e; text-align: center;"><b>Lista de Clientes</b></h1>

<form action="{{  url_for('cliente') }}" method="GET">
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label style="color: #18a08e;"><b>Nombre de Fantasia</b></label>
        <select name="apellidocliente" class="form-select">
          <option value="" disabled selected>Seleccione un nombre</option>
          {% for apellidocliente in consultas %}
            <option value="{{ apellidocliente }}">{{ apellidocliente }}</option>
          {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Buscar</button>
      </div>
    </div>
  </div>


<table class="table table-striped table-bordered table-custom mt-4">
  <thead>
    <tr>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Nombre</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Nombre de Fantasia</th>
      <th style="color: #18a08e; width: 350px; text-align: center; vertical-align: middle;">Dirección</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Tipo de Cliente</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Certificado</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Presupuesto</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">CUIT</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Celular</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Correo</th>
      <th style="color: #18a08e; text-align: center; vertical-align: middle">Acciones</th>
    </tr>
  </thead>
  <tbody>
    {% for cliente in dcliente %}
      <tr>
        <td style="text-align: center;">{{ cliente.1 }}</td>
        <td style="text-align: center;">{{ cliente.2 }}</td>
        <td style="text-align: center;">{{ cliente.3 }}</td>
        <td style="text-align: center;">{{ cliente.4 }}</td>
        <td style="text-align: center;">{{ cliente.6 }}</td>
        <td style="text-align: center;">{{ cliente.7 }}</td>
        <td style="text-align: center;">{{ cliente.8 }}</td>
        <td style="text-align: center;">{{ cliente.5 }}</td>
        <td style="text-align: center;">{{ cliente.9 }}</td>
        <td class="d-flex justify-content-center align-items-center">
          <a href="/edit/{{ cliente.0 }}" class="btn btn-secondary" style="background-color: #009846;">Editar</a>
          <a href="/delete/{{ cliente.0 }}" class="btn btn-danger btn-delete"; onclick="return confirm('¿Estás seguro que deseas eliminar este cliente?')">Borrar</a>
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}
